//- DATA FORM :: START

-
  var dataFormObj = {
    inputFirstNameRegister: {
      classMod: "",
      uniqueName: "firstname",
      labelVal: "",
      inputType: "",
      inputClassMod: "",
      placeholderVal: "Firstname",
      val: ""
    },
    inputNameRegister: {
      classMod: "",
      uniqueName: "name",
      labelVal: "",
      inputType: "",
      inputClassMod: "",
      placeholderVal: "Name",
      val: ""
    },
    inputEmailRegister: {
      classMod: "",
      uniqueName: "email",
      labelVal: "",
      inputType: "email",
      inputClassMod: "",
      placeholderVal: "Email  ",
      val: ""
    },
    inputPasswordRegister: {
      classMod: "",
      uniqueName: "password",
      labelVal: "",
      inputType: "password",
      inputClassMod: "",
      placeholderVal: "Password",
      val: ""
    },
    inputEmailLogin: {
      classMod: "",
      uniqueName: "email",
      labelVal: "",
      inputType: "email",
      inputClassMod: "",
      placeholderVal: "Email address",
      val: ""
    },
    inputPasswordLogin: {
      classMod: "",
      uniqueName: "password",
      labelVal: "",
      inputType: "password",
      inputClassMod: "",
      placeholderVal: "Password",
      val: ""
    },
    inputCardNumber: {
      classMod: "",
      uniqueName: "cvv_number",
      labelVal: "Card number",
      inputType: "text",
      inputClassMod: "",
      placeholderVal: "Email invitation",
      val: ""
    },
    inputCardData: {
      classMod: "",
      uniqueName: "cvv_data",
      labelVal: "Exp date",
      inputType: "text",
      inputClassMod: "",
      placeholderVal: "mm / yy",
      val: ""
    },
    inputCardCvv: {
      classMod: "",
      uniqueName: "cvv_code",
      labelVal: "CCV",
      inputType: "password",
      inputClassMod: "",
      placeholderVal: "XXX",
      val: ""
    },
    inputDetailsFirstName: {
      classMod: "",
      uniqueName: "first_name",
      labelVal: "first name",
      inputType: "text",
      inputClassMod: "",
      placeholderVal: "Type your first name",
      val: ""
    },
    inputDetailsLastName: {
      classMod: "",
      uniqueName: "last_name",
      labelVal: "last name",
      inputType: "text",
      inputClassMod: "",
      placeholderVal: "Type your last name",
      val: ""
    },
    inputDetailsMobile: {
      classMod: "",
      uniqueName: "mobile_number",
      labelVal: "mobile number",
      inputType: "text",
      inputClassMod: "",
      placeholderVal: "+1 -343-853-7096",
      val: ""
    },
    inputDetailsAddress: {
      classMod: "",
      uniqueName: "address",
      labelVal: "address",
      inputType: "text",
      inputClassMod: "",
      placeholderVal: "Type your address",
      val: ""
    },
    inputDetailsCity: {
      classMod: "",
      uniqueName: "city",
      labelVal: "city",
      inputType: "text",
      inputClassMod: "",
      placeholderVal: "Type your city",
      val: ""
    },

    radioField: {
      classMod: "",
      labelVal: "Radio label name",
      uniqueName: "radio",
      radioGroupName: "radio",
      radioValue: "radio",
      radioClassMod: "",
      radioContent: "Some radio content"
    },

    checkboxField: {
      classMod: "",
      labelVal: "",
      uniqueName: "check_all",
      checkboxValue: "",
      checkboxClassMod: "",
      checkboxContent: ""
    },
    checkboxField0: {
      classMod: "",
      labelVal: "",
      uniqueName: "check_0",
      checkboxValue: "",
      checkboxClassMod: "",
      checkboxContent: ""
    },
    checkboxField1: {
      classMod: "",
      labelVal: "",
      uniqueName: "check_1",
      checkboxValue: "",
      checkboxClassMod: "",
      checkboxContent: ""
    },
    checkboxField2: {
      classMod: "",
      labelVal: "",
      uniqueName: "check_2",
      checkboxValue: "",
      checkboxClassMod: "",
      checkboxContent: ""
    },
    checkboxField3: {
      classMod: "",
      labelVal: "",
      uniqueName: "check_3",
      checkboxValue: "",
      checkboxClassMod: "",
      checkboxContent: ""
    },
    checkboxField4: {
      classMod: "",
      labelVal: "",
      uniqueName: "check_4",
      checkboxValue: "",
      checkboxClassMod: "",
      checkboxContent: ""
    },

    textareaField: {
      classMod: "",
      uniqueName: "message",
      labelVal: "Message",
      textareaClassMod: "",
      placeholderVal: "Type your message",
      val: ""
    },

    selectFieldCustomBirthday: {
      classMod: "",
      uniqueName: "select_birthday",
      labelVal: "birthday",
      selectClassMod: "",
      selectOption: [
        'Some option 1',
        'Some option 2',
        'Some option 3'
      ],
      placeholderVal: "Choose your birthday"
    },
    selectFieldCustomGender: {
      classMod: "",
      uniqueName: "select_gender",
      labelVal: "Gender",
      selectClassMod: "",
      selectOption: [
        'Some option 1',
        'Some option 2',
        'Some option 3'
      ],
      placeholderVal: "Choose your gender"
    },
    selectFieldCustomState: {
      classMod: "",
      uniqueName: "select_state",
      labelVal: "State",
      selectClassMod: "",
      selectOption: [
        'Some option 1',
        'Some option 2',
        'Some option 3'
      ],
      placeholderVal: "Choose your state"
    },
    selectFieldSelectric: {
      classMod: "",
      uniqueName: "login_selectric",
      labelVal: "Select selectric",
      selectClassMod: "",
      selectOption: [
        'Some option 1',
        'Some option 2',
        'Some option 3'
      ],
      placeholderVal: "Choose your..."
    },

    notifyNameMessage : ['This field is required.'],
    notifyEmailMessage : ['Please enter a valid email address.'],
    notifyPasswordMessage : ['Please enter no more than {8} characters.'],
    notifyTextareaMessage : ['This field is required.'],
    notifySelectMessage : ['This field is required.'],
    notifyRadioMessage : ['This field is required.'],
    notifyCheckboxMessage : ['This field is required.']
  };

//- DATA FORM :: END