// COMMON :: START


// wrapper
.wrapper {
  z-index: 99;
  overflow: hidden;
  position: fixed;
  display: flex;
  top: 108px;
  left: 108px;
  width: 100%;
  height: calc(100vh - 108px);
}
// wrapper :: end


// main
.main {
  overflow-y: auto;
  width: calc(100% - (499px + 108px));
  height: calc(100vh - 108px);
  min-height: calc(100vh - 108px);
  max-height: calc(100vh - 108px);
  @include transition(padding-left);

  .is-menu-open & {
    padding-left: 257px;
    @include transition(padding-left);
  }
}
// main :: end


// section
.section {
  overflow-y: auto;
  width: 499px;
  height: calc(100vh - 108px);
  min-height: calc(100vh - 108px);
  max-height: calc(100vh - 108px);
  border-left: 1px solid #ECECEE;

  &__wrapper {
    position: relative;
    height: 100%;
  }

  &__title {
    display: flex;
    align-items: center;
    height: 91px;
    padding-left: 30px;
    padding-right: 30px;
    border-bottom: 1px solid #ECECEE;

    p {
      color: #25265E;
      font-size: 18px;
      font-weight: bold;
    }
  }

  &__scroll {
    overflow-y: auto;
    position: relative;
    min-height: 500px;
    height: calc(100vh - (108px + 91px));

    #section & {
      height: calc(100% - (169px + 91px));
    }

    &--noTransactions {
      padding-top: 101px;
    }

    &--historyEmpty {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &__btn {
    z-index: 99;
    overflow: hidden;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 40px;
    bottom: 40px;
    width: 72px;
    height: 72px;
    border-radius: 100%;
    background-color: #007BFF;
    box-shadow: 0 4px 29px 0 rgba(#7540EE, 0.4);
    @include transition(box-shadow);

    &:hover {
      box-shadow: 0 2px 29px 0 rgba(#7540EE, 0.2);
      @include transition(box-shadow);

      svg {
        transform: scale(1.2);
        @include transition(transform);
      }
    }

    .icon-svg {
      fill: $c-white;
      @include transition(transform);
    }
  }

  &__info {
    display: block;
    height: 169px;
    padding-top: 40px;
    padding-left: 40px;
    background-color: #2DC76D;
    background-image: url('../img/img-circle.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &-wrapper {
      display: flex;

      > div {
        &:first-child {
          width: 48px;

          svg {
            fill: rgba($c-white, 0.5);
          }
        }

        &:last-child {
          width: calc(100% - 48px);
        }
      }
    }

    &-title {
      display: flex;
      align-items: center;
      padding-bottom: 10px;
      color: $c-white;
      line-height: 1;
      letter-spacing: 0.35px;
      font-size: 24px;
      font-weight: bold;

      span {
        margin-right: 10px;
      }

      .icon-svg {
        width: 30px;
        height: 15px;
        fill: rgba($c-white, 0.5);
      }
    }

    &-description {
      color: $c-white;
      letter-spacing: 0.26px;
      font-size: 18px;
      font-weight: bold;
    }
  }
}
// section :: end


// COMMON :: END