# FOLDER
# ==========
.idea/
.gulp/
.cache/
.sass-cache/
.tmp/
_tmp/
node_modules/
vendor/
dest/

# FILES
# ==========
package-lock.json
landing/*.pdf
landing/_DS_Store


# EXTENSIONS
# ==========
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.zip
*.vi
*~
