// SECTION NO-CONTACTS :: START

section#no-contacts.no-contacts
  .no-contacts__wrapper
    .no-contacts__wrapper-top

      img(src="./img/img-no-contacts.png" srcset="./img/img-no-contacts@2x.png 2x" alt="" title="")

    .no-contacts__wrapper-bottom
      p!= "No contact added yet"

// SECTION NO-CONTACTS :: END