// ASIDE :: START

aside#aside.aside
  .aside__wrapper

    .aside__nav
      ul.aside__nav-list
        li.aside__nav-item
          a.aside__nav-link.is-active(href="#" class="" title="")
            +iconSVG('calendar')

        li.aside__nav-item
          a.aside__nav-link(href="#" class="" title="")
            +iconSVG('messages')

        li.aside__nav-item
          a.aside__nav-link(href="#" class="" title="")
            +iconSVG('users')

    .aside__menu
      a.aside__menu-btn(href="#" class="" title="")
        div
          span


// ASIDE :: END