// SECTION NO-TRANSACTIONS :: START

section#no-transactions.no-transactions
  .no-transactions__wrapper
    .no-transactions__wrapper-top

      img(src="./img/img-no-transactions.png" srcset="./img/img-no-transactions@2x.png 2x" alt="" title="")

    .no-transactions__wrapper-bottom
      p!= "No transactions"

// SECTION NO-TRANSACTIONS :: END