---
title: DuniaPay - Login

pageClassName: p-home
---
extends shared/_layout

block content
  div.body.body--start(class!= pageClassName)

    section#sign.sign.sign--login
      .sign__wrapper
        .sign__wrapper-left
        .sign__wrapper-right

          .sign__container
            h1.sign__title!= "Hello!"
            p.sign__text!= "Sign in with your credentials or <br>create a new account"

            form.c-form.c-form--login(action='' method='' autocomplete='off')

              +formInput(dataFormObj.inputEmailLogin)
              +formInput(dataFormObj.inputPasswordLogin)

              .c-form__group.c-form__group--btnlink.c-form__group--two
                .c-form__group-col.c-form__group-col-0
                  +formBtn('', '', 'Login')
                .c-form__group-col.c-form__group-col-1
                  +formLink('', '', '', 'Forgot password?')

            p.sign__subtitle!= "Dont have an  account? <a href='#'>Create one</a>"
