---
title: DuniaPay - Payment

pageClassName: p-payment
---
extends shared/_layout


block header
  include ./components/_header

block aside
  include ./components/_aside

block content
  div.body.body--start(class!= pageClassName)
