---
title: DuniaPay - Payment

pageClassName: p-payment
---
extends shared/_layout


block header
  include ./components/_header

block aside
  include ./components/_aside

block sidebar
  include ./components/_sidebar

block content
  div.body.body--start(class!= pageClassName)

    .wrapper
      main#main.main
        .section__wrapper
          .section__title
            p!= "Payment method"

          .section__scroll

            include ./components/_cvv

            a.section__btn(href="#" class="" title="")
              +iconSVG('plus')


      section#section.section
        .section__wrapper
          .section__title
            p!= "My Profile"

          .section__scroll

            include ./components/_profile

          .section__row-bottom.section__info
            .section__info-wrapper
              div
                +iconSVG('logo')
              div
                p.section__info-title
                  span!= "Get a free transfer"
                  +iconSVG('arrow-lg')
                p.section__info-description!= "Share with friends and<br>get your next transfer free"