---
title: DuniaPay - Transaction

pageClassName: p-transaction
---
extends shared/_layout


block header
  include ./components/_header

block aside
  include ./components/_aside

block sidebar
  include ./components/_sidebar

block content
  div.body.body--start(class!= pageClassName)
