
/* line 3, src/scss/_components/transfer/_transfer.scss */


/* line 6, src/scss/_components/transfer/_transfer.scss */
.transfer__title {
  color: #000;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  padding-top: 2px;
  font-size: 18px;
}

#rate{
 margin-top: -20px;
}
@media screen and (min-width: 320px) {
  /* line 6, src/scss/_components/transfer/_transfer.scss */
  .transfer__title {
    padding-top: calc(5px + 35 * (100vw - 320px) / 1600);
  }
}

@media screen and (min-width: 1920px) {
  /* line 6, src/scss/_components/transfer/_transfer.scss */
  .transfer__title {
    padding-top: 5px;
  }
}

@media screen and (min-width: 320px) {
  /* line 6, src/scss/_components/transfer/_transfer.scss */
  .transfer__title {
    padding-bottom: calc(5px + 36 * (100vw - 320px) / 1600);
  }
}

@media screen and (min-width: 1920px) {
  /* line 6, src/scss/_components/transfer/_transfer.scss */
  .transfer__title {
    padding-bottom: 30px;
  }
}

@media screen and (min-width: 320px) {
  /* line 6, src/scss/_components/transfer/_transfer.scss */
  .transfer__title {
    font-size: calc(25px + 15 * (100vw - 320px) / 1600);
  }
}

@media screen and (min-width: 1920px) {
  /* line 6, src/scss/_components/transfer/_transfer.scss */
  .transfer__title {
    font-size: 25px;
  }
}

/* line 15, src/scss/_components/transfer/_transfer.scss */
.transfer__box {
  width: 100%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  border-radius: 10px;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 9px #9B9B9B;
          box-shadow: 0 2px 9px #9B9B9B;
}

/* line 25, src/scss/_components/transfer/_transfer.scss */
.transfer__box-top {
  margin-top: 5px;
}

/* line 29, src/scss/_components/transfer/_transfer.scss */
.transfer__box-bottom {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* line 36, src/scss/_components/transfer/_transfer.scss */
.transfer__box-bottom > div:first-of-type {
  width: 45%;
}

/* line 39, src/scss/_components/transfer/_transfer.scss */
.transfer__box-bottom > div:last-of-type {
  width: 35%;
}

/* line 44, src/scss/_components/transfer/_transfer.scss */
.transfer__box-bottom p {
  margin-top: -5px; 
  color: #000;
  font-weight: REGULAR;
  font-family: "Run", sans-serif;

}

/* line 48, src/scss/_components/transfer/_transfer.scss */
.transfer__box-bottom p:first-of-type {
  font-size: 14px;
}

/* line 51, src/scss/_components/transfer/_transfer.scss */
.transfer__box-bottom p:last-of-type {
  font-size: 16px;
}

/* line 57, src/scss/_components/transfer/_transfer.scss */
.transfer__box-subtitle {
  padding-top: 20px;
  padding-left: 20px;
  color: #000;
  text-align: left;
  font-size: 16px;
  font-family: "Run", sans-serif;
}

.transfer__box-subtitle-2 {
  padding-left: 20px;
  color: #000;
  text-align: left;
  font-size: 16px;
  font-family: "Run", sans-serif;
}

/* line 66, src/scss/_components/transfer/_transfer.scss */
.transfer__box-drop {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 133px;
  height: 100%;
  border-radius: 0 15px 15px 0;
}

.transfer__box-button {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 133px;
  height: 100%;
  border-radius: 2em;
}

/* line 77, src/scss/_components/transfer/_transfer.scss */
.transfer__box-drop a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 81, src/scss/_components/transfer/_transfer.scss */
.transfer__box-drop a > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

/* line 87, src/scss/_components/transfer/_transfer.scss */
.transfer__box-drop a > div:nth-child(1), .transfer__box-drop a > div:nth-child(2) {
  width: calc((150% - 30px) / 2);
}

/* line 92, src/scss/_components/transfer/_transfer.scss */
.transfer__box-drop a > div:last-of-type {
  width: 40px;
}


/* line 96, src/scss/_components/transfer/_transfer.scss */
.transfer__box-drop a > div > p {
  overflow: hidden;
  white-space: nowrap;
  padding-top: 20px;
  padding-left: -5px;
  padding-right: 5px;
  color: #000;
  letter-spacing: 1.5px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

@media screen and (min-width: 320px) {
  /* line 96, src/scss/_components/transfer/_transfer.scss */
  .transfer__box-drop a > div > p {
    font-size: calc(18px + 10 * (100vw - 320px) / 1600);
  }
}

@media screen and (min-width: 1920px) {
  /* line 96, src/scss/_components/transfer/_transfer.scss */
  .transfer__box-drop a > div > p {
    font-size: 30px;
  }
}



#destCountry{
margin-left: -55px;
}


/* line 107, src/scss/_components/transfer/_transfer.scss */
.transfer__box-drop a > div > img {
  display: block;
  max-width: 60%;
  height: auto;
  margin-left: auto;
  margin-right: 5px;
}


/* line 115, src/scss/_components/transfer/_transfer.scss */
.transfer__box-drop a > div > span {
  position: relative;
  width: 14px;
  height: 14px;
}

/* line 120, src/scss/_components/transfer/_transfer.scss */
.transfer__box-drop a > div > span:before {
  content: '';
  position: absolute;
  top: 3.5px;
  left: -4px;
  width: 0;
  height: 0;
  border-width: 7px;
  border-style: solid;
  border-color: #000 transparent transparent transparent;
}

/* line 136, src/scss/_components/transfer/_transfer.scss */
.transfer__box-dropdown {
  overflow-y: auto;
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  width: 220px;
  max-height: 200px;
  border-radius: 10px;
  background-color: #fff;
  -webkit-box-shadow: 0 4px 20px 0 rgba(37, 38, 94, 0.1);
          box-shadow: 0 4px 20px 0 rgba(37, 38, 94, 0.1);
}



/* line 148, src/scss/_components/transfer/_transfer.scss */
.transfer__box-dropdown > span {
  z-index: 0;
  position: absolute;
  top: -7px;
  right: 50px;
  width: 15px;
  height: 15px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #fff;
  -webkit-box-shadow: 0 4px 20px 0 rgba(37, 38, 94, 0.1);
          box-shadow: 0 4px 20px 0 rgba(37, 38, 94, 0.1);
}

/* line 160, src/scss/_components/transfer/_transfer.scss */
.transfer__box-dropdown > div {
  z-index: 1;
  position: relative;
  width: 100%;
  min-height: 200px;
  padding: 0 10px;
  border-radius: 10px;
  background-color: #fff;
}

/* line 171, src/scss/_components/transfer/_transfer.scss */
.transfer__box-dropdown li:last-of-type {
  border: none;
}

/* line 176, src/scss/_components/transfer/_transfer.scss */
.transfer__box-dropdown a {
  cursor: pointer;
  height: 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.dropButton{
    width: 130px;
    margin-left: 10px;
    padding-right: 5px;
}

.currency__box-dropdown {
  overflow-y: auto;
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  width: 150px;
  max-height: 200px;
  border-radius: 10px;
  background-color: #fff;
  -webkit-box-shadow: 0 4px 20px 0 rgba(37, 38, 94, 0.1);
          box-shadow: 0 4px 20px 0 rgba(37, 38, 94, 0.1);
}

.currency__box-dropdown > span {
  z-index: 0;
  position: absolute;
  top: -7px;
  right: 50px;
  width: 15px;
  height: 15px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  background-color: #fff;
  -webkit-box-shadow: 0 4px 20px 0 rgba(37, 38, 94, 0.1);
          box-shadow: 0 4px 20px 0 rgba(37, 38, 94, 0.1);
}

.currency__box-dropdown > div {
  z-index: 1;
  position: relative;
  width: 100%;
  min-height: 200px;
  padding: 0 10px;
  border-radius: 10px;
  background-color: #fff;
}

/* line 171, src/scss/_components/transfer/_transfer.scss */
.currency__box-dropdown li:last-of-type {
  border: none;
}

/* line 176, src/scss/_components/transfer/_transfer.scss */
.currency__box-dropdown a {
  cursor: pointer;
  height: 40px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

/* line 183, src/scss/_components/transfer/_transfer.scss */
.transfer__box-input {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 65px;
  border-radius: 10px;
}


.exchangeCursor {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 45px;
  padding-top: 35px;
  border-radius: 10px;
  padding-right: 50px;
}
.exchangeCursor img{
    transform: rotate(-90deg);
    cursor: pointer;
    
}

/* line 191, src/scss/_components/transfer/_transfer.scss */
.transfer__box-input input {
  outline: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  left : 20px;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding-right: 180px;
  text-align: left;
  color: #000;
  font-size: 16px;
}

@media screen and (min-width: 320px) {
  /* line 191, src/scss/_components/transfer/_transfer.scss */
  .transfer__box-input input {
    font-size: calc(16px + 16 * (100vw - 320px) / 1600);
  }
}

@media screen and (min-width: 1920px) {
  /* line 191, src/scss/_components/transfer/_transfer.scss */
  .transfer__box-input input {
    font-size: 25px;
  }
}

/* line 209, src/scss/_components/transfer/_transfer.scss */
.transfer__box-input input[type=number]::-webkit-inner-spin-button,
.transfer__box-input input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* line 215, src/scss/_components/transfer/_transfer.scss */
.transfer__box-input-0 {
  background-color: #F0F0F0;
}

/* line 218, src/scss/_components/transfer/_transfer.scss */
.transfer__box-input-0 .transfer__box-drop {
  background-color: #D8D7D7;
}

/* line 223, src/scss/_components/transfer/_transfer.scss */
.transfer__box-input-1 {
  background-color: #89e1ff;
}

/* line 226, src/scss/_components/transfer/_transfer.scss */
.transfer__box-input-1 .transfer__box-drop {
  background-color: #4ed3ff;
}

/* line 233, src/scss/_components/transfer/_transfer.scss */
.transfer__btn {
  outline: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  max-width: 133px;
  height: 56px;
  margin-top: 71px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2em;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: #007BFF;
  color: #fff;
  font-family: "Run", sans-serif;
  font-size: 25px;
}

@media screen and (min-width: 320px) {
  /* line 233, src/scss/_components/transfer/_transfer.scss */
  .transfer__btn {
    font-size: calc(25px + 5 * (100vw - 320px) / 1600);
  }
}

@media screen and (min-width: 1920px) {
  /* line 233, src/scss/_components/transfer/_transfer.scss */
  .transfer__btn {
    font-size: 30px;
  }
}

/* line 3, src/scss/_components/transaction/_transaction.scss */
.transaction {
  width: 100%;
  padding: 15px;
}

/* line 7, src/scss/_components/transaction/_transaction.scss */
.transaction__title {
  color: #000;
  text-align: center;
  font-family: 'Run', sans-serif;
  padding-top: 15px;
  padding-bottom: 40px;
  font-size: 25px;
}

@media screen and (min-width: 320px) {
  /* line 7, src/scss/_components/transaction/_transaction.scss */
  .transaction__title {
    padding-top: calc(15px + 35 * (100vw - 320px) / 1600);
  }
}

@media screen and (min-width: 1920px) {
  /* line 7, src/scss/_components/transaction/_transaction.scss */
  .transaction__title {
    padding-top: 50px;
  }
}

@media screen and (min-width: 320px) {
  /* line 7, src/scss/_components/transaction/_transaction.scss */
  .transaction__title {
    padding-bottom: calc(40px + 41 * (100vw - 320px) / 1600);
  }
}

@media screen and (min-width: 1920px) {
  /* line 7, src/scss/_components/transaction/_transaction.scss */
  .transaction__title {
    padding-bottom: 81px;
  }
}

@media screen and (min-width: 320px) {
  /* line 7, src/scss/_components/transaction/_transaction.scss */
  .transaction__title {
    font-size: calc(25px + 15 * (100vw - 320px) / 1600);
  }
}

@media screen and (min-width: 1920px) {
  /* line 7, src/scss/_components/transaction/_transaction.scss */
  .transaction__title {
    font-size: 40px;
  }
}

/* line 16, src/scss/_components/transaction/_transaction.scss */
.transaction__box {
  width: 100%;
  padding: 30px 64px;
  border-radius: 5px;
  border-left: 8px solid #2DC76D;
  background-color: rgba(246, 246, 246, 0.75);
}

/* line 23, src/scss/_components/transaction/_transaction.scss */
.transaction__box-0 {
  margin-bottom: 37px;
}

/* line 27, src/scss/_components/transaction/_transaction.scss */
.transaction__box-wrapper {
  width: 100%;
  max-width: 519px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 37px;
}

/* line 35, src/scss/_components/transaction/_transaction.scss */
.transaction__box-title {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 27px;
  padding: 5px 15px;
  margin-bottom: 12px;
  border-radius: 13px;
  background-color: rgba(63, 182, 220, 0.1);
  color: #3FB6DC;
  letter-spacing: 0.23px;
  font-size: 14px;
  font-weight: bold;
}

/* line 49, src/scss/_components/transaction/_transaction.scss */
.transaction__box-subtitle {
  color: #25265E;
  letter-spacing: 0.27px;
  font-size: 16px;
  font-weight: 500;
}

/* line 55, src/scss/_components/transaction/_transaction.scss */
.transaction__box-subtitle--color {
  color: #787993;
}

/* line 60, src/scss/_components/transaction/_transaction.scss */
.transaction__box-address {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* line 64, src/scss/_components/transaction/_transaction.scss */
.transaction__box-address p {
  color: #787993;
  letter-spacing: 0.23px;
  font-size: 14px;
  font-weight: 500;
}

/* line 72, src/scss/_components/transaction/_transaction.scss */
.transaction__box-rate {
  color: #2DC76D;
  letter-spacing: 0.25px;
  font-size: 15px;
  font-weight: 500;
}

/* line 79, src/scss/_components/transaction/_transaction.scss */
.transaction__box-img {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 84, src/scss/_components/transaction/_transaction.scss */
.transaction__box-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* line 88, src/scss/_components/transaction/_transaction.scss */
.transaction__box-info > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 48px;
  padding: 5px 25px;
  margin-right: 17px;
  border-radius: 10px;
  border: 1px solid #ECECEE;
  background-color: #fff;
}

/* line 100, src/scss/_components/transaction/_transaction.scss */
.transaction__box-info > div:first-of-type span {
  color: #25265E;
  font-weight: bold;
}

/* line 106, src/scss/_components/transaction/_transaction.scss */
.transaction__box-info > div:last-of-type {
  margin-right: 0;
}

/* line 109, src/scss/_components/transaction/_transaction.scss */
.transaction__box-info > div:last-of-type span {
  opacity: 0.5;
  color: #25265E;
}

/* line 117, src/scss/_components/transaction/_transaction.scss */
.transaction__box-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 48px;
  margin-right: 17px;
  padding: 5px 30px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 500;
}

/* line 128, src/scss/_components/transaction/_transaction.scss */
.transaction__box-btn--pay {
  min-width: 129px;
  background-color: rgba(45, 199, 109, 0.1);
  color: #2DC76D;
}

/* line 134, src/scss/_components/transaction/_transaction.scss */
.transaction__box-btn--edit {
  border: 1px solid #ECECEE;
  color: #25265E;
}

/* line 139, src/scss/_components/transaction/_transaction.scss */
.transaction__box-btn--new {
  min-width: 129px;
  background-color: rgba(139, 10, 26, 0.35);
  color: #fff;
}

/* line 145, src/scss/_components/transaction/_transaction.scss */
.transaction__box-btn:last-of-type {
  margin-right: 0;
}

/* line 149, src/scss/_components/transaction/_transaction.scss */
.transaction__box-btn-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding-top: 10px;
}

/*# sourceMappingURL=maps/app.css.map */



.m-dropdown {
  margin-top: -20px;
  margin-left: -20px;
  width: 133px;
  display: block;
}
.m-dropdown .e-button {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 2.5em;
  -moz-border-radius: 2.5em;
  -webkit-border-radius: 2.5em;
  -ms-border-radius: 2.5em;
  font-size: 14px;
  font-size: 1.0rem;
  padding: 8px 20px 8px 15px;
  z-index: 900;
  color: #fff;
  font-weight: 900;
  position: relative;
  border: 2px solid transparent;
  margin-top: 2px;
  font-family: 'Open Sans', sans-serif;
  z-index: 5;
  display: block;
  width: 133px;
  margin: 0 auto;
  background: black;
}
.m-dropdown .e-button:hover {
  cursor: pointer;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  color: black;
  background: #fff;
  border-color: black ;
}
.m-dropdown .e-button:hover .e-burger span {
  background: darkblue;
  border-color: darkblue ;
    
}

.m-dropdown .e-button:after {
  left: 100%;
  margin-left: 2px;
  border-bottom-left-radius: 10px;
}
.m-dropdown .e-button:before {
  right: 100%;
  margin-right: 2px;
  border-bottom-right-radius: 10px;
}
.m-dropdown .e-button .e-burger {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 15px;
  width: 15px;
  height: 14px;
  transform-origin: center;
  z-index: -1;
}
.m-dropdown .e-button .e-burger span {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -ms-border-radius: 2px;
  width: 100%;
  height: 2px;
  background: #fff;
  display: block;
  left: 0;
  transform-origin: center;
}
.m-dropdown .e-button .e-burger span:first-child {
  top: 0;
  transform: none;
}
.m-dropdown .e-button .e-burger span:last-child {
  top: auto;
  bottom: 0;
  transform: none;
}
.m-dropdown .e-button .e-burger:after {
  -webkit-transition: height 0.3s ease-in-out;
  -moz-transition: height 0.3s ease-in-out;
  -ms-transition: height 0.3s ease-in-out;
  -o-transition: height 0.3s ease-in-out;
  transition: height 0.3s ease-in-out;
  content: " ";
  display: block;
  position: absolute;
  top: 12px;
  right: -37px;
  height: 0;
  width: 199px;
  left: auto;
  z-index: -2;
  background: darkblue;
  opacity: 0;
}

.m-dropdown .e-button.open .e-burger span {
  background: #fff;
}


.m-dropdown .e-list {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -ms-border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  background: darkblue;
  float: left;
  overflow: hidden;
  z-index: 999;
}
.m-dropdown .e-list li {
  display: block;
  width: 100%;
  float: left;
  border-bottom: 1px solid rgba(255, 255, 255, 0.01);
  box-sizing: border-box;
}
.m-dropdown .e-list li:last-child {
  border: none;
}
.m-dropdown .e-list li a {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 15px;
  float: left;
  width: 100%;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  box-sizing: border-box;
}
.m-dropdown .e-list li a:hover {
  background: #fff;
  color: darkblue;
}

