.icon-arrow {
  width:(512)*1px;
  height:(512)*1px;
}
.icon-logo {
  width:(32)*1px;
  height:(32)*1px;
}
.icon-notification {
  width:(512)*1px;
  height:(512)*1px;
}
.icon-team {
  width:(16)*1px;
  height:(16)*1px;
}
